/* Reset các phần tử mặc định */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
    position: relative;
}


button {
    padding: 15px 30px;
    font-size: 18px;
    margin: 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
    color: black;
}

#yes {
    background-color: #ff69b4;
    color: white;
}

#no {
    background-color: #f5b7b1;
    color: black;
}

button:hover {
    transform: scale(1.1);
}
/* Các phần CSS khác giữ nguyên */

.back-button {
    position: fixed;  /* Đặt vị trí cố định trên màn hình */
    top: 20px;        /* Cách mép trên 20px */
    left: 20px;       /* Cách mép trái 20px */
    background-color: #ffb3b3;
    color: black;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    display: inline-block;
    z-index: 2; /* Đảm bảo nút "Quay lại" luôn hiển thị trên nền */
}
.back-button:hover {
    transform: scale(1.1);
}
.background {
    display: none; /* Bắt đầu ở chế độ ẩn */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(''); /* Sẽ được cập nhật bằng JavaScript */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Đảm bảo nó ở trên các phần tử khác */
}

.heart {
    animation: heartbeat 1s ease-in-out infinite;
    display: none; /* Trái tim bắt đầu ẩn */
    z-index: 2; /* Đảm bảo trái tim hiển thị trên nền */
  position: fixed; 
    top: 50%;
    left: 35%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: #ff69b4;
    z-index: 3; 
}
.background_image {
  z-index: 2; /* Đảm bảo trái tim hiển thị trên nền */
  position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    color: #ff69b4;
    z-index: 3; 
}
.text_troll {
    position: fixed; 
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #ff69b4;
    z-index: 3; 
  text_align: center;
}

@keyframes heartbeat {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.1);
    }
    50% {
        transform: scale(1);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}
